* {
    margin: 0px;
    padding: 0px;
}
/* PADRE */
.rectangulo{
    width: 500px;
    height: 300px;
    background-color: rgb(4, 173, 88);
    position: relative;   
}

/* HIJO */
.circulo{
    width: 100px;
    height: 100px;
    background-color: rgb(241, 51, 51);
    border-radius: 50%;
    position: absolute;
    /*Se trabaja con: left o right / top o bottom, nunca la pareja */
    right: 0px; /* Distancia del círculo desde la derecha */
    bottom: 0px; /* Distancia del círculo desde la abajo */
    
    
    left:0px; /* Distancia del círculo desde la izquierda */
    top:0px; /* Distancia del círculo desde la arriba */
}


body{
    position: relative;
    height: 100vh;
}

footer{
    background-color: black;
    color: white;
    height: 80px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

